<html>

<head>
	<title>Hackler</title>
	<link href="/styles/all.css" rel="stylesheet" type="text/css" />
</head>

<body>
<center>
	<h1>Welcome to the 7th Blue Jeans Hackathon!</h1>

	<img src='https://38.media.tumblr.com/f36373be357a72d3318f910d35f603e8/tumblr_n81ofigokC1ryv6tlo1_400.gif' alt='cat takeoff'/><br/>

		<a href="/vote.html">Vote for people's choice!</a>
	<br/><br/>

	<a class="screenWideButton" href="/votes.html">See the current results!</a>
</center>



	<script type="text/javascript" src="/scripts/jquer-2.1.1.js"></script>
	<script type="text/javascript" src="/scripts/home.js"></script>
</body>

</html>