<html>

<head>
	<title>Hackler</title>
	<link href="/styles/all.css" rel="stylesheet" type="text/css" />
</head>

<body>
<center>
	<h1>Welcome to the 9th Blue Jeans Hackathon!</h1>

	<img src='https://38.media.tumblr.com/f36373be357a72d3318f910d35f603e8/tumblr_n81ofigokC1ryv6tlo1_400.gif' alt='cat takeoff'/><br/>

	<p><a href="/schedule">The presentation schedule</a></p>

	<p><a href="/vote">Vote for people's choice</a></p>

	<p><a class="adminOnly" href="/results">See the current results</a></p>

	<p><a class="adminOnly" href="/presentations">Change presentation order</a></p>

	<p><a class="adminOnly" href="/demos">Start demos</a></p>
</center>


	<script type="text/javascript">
	window.user = {{{ json user }}};
	</script>
	<script type="text/javascript" src="/scripts/jquery-2.1.1.js"></script>
	<script type="text/javascript" src="/scripts/home.js"></script>
</body>

</html>